<div class="container mt-4">
  <nav class="panel">
    <p class="panel-heading">Typing Game</p>

    <div class="mt-4 mb-4 text-center">
      <span
        [ngClass]="getColorClass(i)"
        *ngFor="let letter of fakeSentence; let i = index"
        class="is-italic has-text-weight-bold"
        >{{ letter }}</span
      >
    </div>

    <div class="panel-block">
      <p class="control has-icons-left pl-6 pr-6">
        <input (input)="compare($event)" class="input" type="text" />
      </p>
    </div>

    <div class="mt-4 text-center">
      <p *ngIf="compareSentences()" class="pb-5 pt-5 title">You Won!</p>
    </div>
  </nav>
</div>
